:root {
    --bamboo-green: #618264;
    --grass-green: #79AC78;
    --lime-green: #B0D9B1;
    --pastel-green: #D0E7D2;
}

* {
    margin: 0;
    scrollbar-color: red green;
}

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: minmax(200px, 1fr) 12fr;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
}

/* Top bar elements */

.top-panel {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--grass-green);
    box-shadow: 0 1px 4px 3px rgb(0, 0, 0, 0.5);
    padding: 20px;
}

.search {
    display: flex;
    align-items: center;
}

.search-input {
    margin: 0 20px;
    width: 70%;
}

.text-input {
    padding: 5px 10px;
    height: 20px;
    border-radius: 20px;
    border: none;
}

.user-info {
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;

    & :first-child {
        margin: 0 20px;
    }

    & > * {
        margin: 10px;
    }
}

.profile-img {
    margin-right: 10px;
    display: block;
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-img-large {
    height: 70px;
    width: 70px;
}



.greetings {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.7rem;

    & img {
        margin-right: 20px;
    }
}

.action-btns {
    display: flex;
    align-items: center;

    & button {
        background-color: var(--pastel-green);
        margin: 10px;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 40px;
        font-weight: bold;
        font-size: 1rem;
    }
}

/* Side panel related */

.nav-panel {
    color: whitesmoke;
    background-color: var(--bamboo-green);
    grid-area: 1/1/3/2;
    z-index: 10;
    padding: 20px;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin-bottom: 20px;

    & svg, & img {
        width: 20%;
        margin-right: 10px;
    }

    & h4 {
        width: 80%;
    }
}

.menu {
    & ul {
        font-size: 1.4rem;
        list-style: none;
        padding: 0;
    }

    & img, & svg {
        color: white;
        height: 1.3rem;
        margin-right: 10px;
    }
}

.primary-links, .secondary-links {
    margin: 50px 0;

    & li {
        margin: 15px 0;
    }
}

.primary-links li, .secondary-links li {
    display: flex;
    align-items: center;
}

/* main content elements */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 30px;
    background-color: var(--lime-green);
}

.post-sect {
    padding: 0 0px 0 0;

    & h2 {
        margin-top: 5px;
        margin-bottom: 23px;
    }
}

.post-list {
    display: grid;
    margin: 10px 0px 10px 0;
    padding-bottom: 10px;
    padding-right: 10px;
    gap: 30px;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.post {
    background-color: white;
    overflow: hidden;
    margin-right: 10px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.5);

    & * {
        margin: 5px 5px;
    }
}

/* Right hand notififications */

.side-notifications {
    margin: 5px;
}

.right-lists {
    padding: 0px;
    margin: 0;
}

.announcement-list,
.trending-list {
    padding: 0;


    & h2 {
        margin-bottom: 20px;
    }

    & p {
        margin-top: 10px;
    }

    & > div {
        border-radius: 20px;
        padding: 15px 15px;
        margin: 15px 0;
        text-wrap: wrap;
        grid-column-start: 2;
        background-color: white;
    }

    & hr {
        margin: 15px 0;
    }
}

.trending-list {
    & h2 {
        margin-top: 20px;
    }
}

.side-notifications-item {
    margin: 5px 0;
}

